.header-bg{
    width: 100%;
    background-color: rgb(103, 32, 32);
    position: sticky;
    top: 0;
    
    z-index: 99;
    .container{
        height: 5rem;
        align-items: center;
        .img{
            max-width:25rem ;
            min-width: 5rem;
        }
        
        ul{
            background-color: rgb(103, 32, 32);
            list-style: none;
            li{
                font-size: 1.4rem;
                margin-left: 1rem;
                .color{
                    font-weight: 700;
                    color: rgb(212, 0, 0);
                }
            }
        
        }
    }
}